<h1>Notes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.content %></td>
        <td><%= note.appointment %></td>
        <td><%= link_to 'Show', note %></td>
        <td>
          <% if can? :update, note %>
              <%= link_to 'Edit', edit_note_path(note) %>
          <% end %>
        </td>
        <td>
          <% if can? :destroy, note %>
            <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, Note %>
  <%= link_to 'New Note', new_note_path %>
<% end %>
