%h1 Notes

%div{id: "notes"}
  %h2{ style: 'text-align: center', id: 'month'}
    = link_to '<', date: @date.prev_month
    = @date.strftime('%B %Y')
    = link_to '>', date: @date.next_month

  = calendar(@date) do |date|
    = date.day
    - if (@notes_by_date[date])
      - @notes_by_date[date].each do |note|
        .container-fluid
          -if note.appointment < Time.now
            %li= link_to note.title, note, {style:'color: red;', class: "css_class"}
            = note.appointment.strftime("%H:%M")
          -if note.appointment >= Time.now
            %li= link_to note.title, note, {style:'color: green;', class: "css_class"}
            = note.appointment.strftime("%H:%M")

- if can? :create, Note
  = link_to 'New Note', new_note_path, class: 'btn btn-default'
