<%= form_for(@role) do |f| %>
    <% if @role.errors.any? %>
        <div id="error_explanation">
          <% @role.errors.full_messages.each do |message| %>
              <%= flash[:alert] = message %>
          <% end %>
        </div>
    <% end %>

    <div class="field">
      <span class="label label-default"><%= f.label :name %></span><br>
      <%= f.text_field :name, class: 'form-control input-sm' %>
    </div>

    <div class="field">
      <span class="label label-default"><%= f.label :description %></span><br>
      <%= f.text_field :description, class: 'form-control input-sm' %>
    </div>

    <div class="actions">
      <%= f.submit 'Submit', class: 'btn btn-success' %>
    </div>
<% end %>
