<h1>Role info</h1>

<div class="col-sm-8">
  <table class="table table-default">
    <tr>
      <td>Name:</td>
      <td><%= @role.name %></td>
    </tr>

    <tr>
      <td>Description:</td>
      <td><%= @role.description %></td>
    </tr>

    <tr>
      <td>Assosciated users:</td>
      <td><%= @assosciated_users %></td>
    </tr>
  </table>

  <div class="btn btn-group">
    <% if can? :update, @project %>
        <%= link_to 'Edit', edit_role_path(@role), class: 'btn btn-default' %>
    <% end %>
    <%= link_to 'Back', roles_path, class: 'btn btn-default' %>
  </div>
</div>
